<div class="modal-header">
    <h4 class="modal-title pull-left">Register as guest</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="regusterGuestForm" (ngSubmit)="register()" id="regusterGuestForm">
        <app-text-input-f2 [formControl]="$any(regusterGuestForm.controls['guestName'])" [label]="'Name'"
            [submitted]="submitted"
            [invalidPatternMessage]="'No special characters'"></app-text-input-f2>
    </form>
</div>
<div class="modal-footer">
    <div class="d-grid px-1" style="width: 50%;">
        <button type="submit" class="btn btn-warning" form="regusterGuestForm">Register</button>
    </div>
</div>