<ng-container *ngIf="cards && cards.length > 0 && screenWidth">
  <ng-container *ngIf="(gameService.playerCardsDivHeight$ | async) as height">
    <ng-container *ngIf="(gameService.gameInfo$ | async) as gameInfo">

      <div
        *ngIf="gameInfo.gs == 2 && gameInfo.hakemIndex == gameInfo.myIndex; then hakemCardsShoosingHokm else elsePart">
      </div>

      <ng-template #hakemCardsShoosingHokm>
        <ng-container *ngFor="let card of cards; let i = index">
          <div [style.left.%]="(i *  5) + (screenWidth <= 576 ? 0 : 3) + 3">
            <img class="cursor-pointer" #jumpingImg [style.height.px]="height" src="{{blobImageUrl}}/{{card}}.jpg"
            (click)="onSelectCard(gameInfo.hokmSuit != null, card, $event)">
          </div>
        </ng-container>
      </ng-template>

      <ng-template #elsePart>
        <ng-container *ngFor="let card of cards; let i = index">
          <div [style.left.%]="(i *  6.8) + (screenWidth <= 576 ? 0 : 3) + 
              ((13 - cards.length) * 3)" cdkDrag (cdkDragEnded)="onDragEnded($event)">
            <img [style.height.px]="height" src="{{blobImageUrl}}/{{card}}.jpg" (dblclick)="onDoubleClick(card, $event)"
              cdkDragHandle appDroppable>
          </div>
        </ng-container>
      </ng-template>

    </ng-container>
  </ng-container>
</ng-container>