img {
    position: absolute;
    height: 100%;
    transition: transform 0.3s ease;
}

// img:hover {
//     transform: translateY(-15px);
// }

.jump {
    transform: translateY(-15px);
    transition: transform 0.3s;
}