
<form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
    <div class="row">
        <div class="col-9">
            <input type="text" formControlName="message" class="form-control" placeholder="Send message"
                [class.is-invalid]="messageForm.touched && messageForm.get('message')?.hasError('maxlength')">
            <span class="invalid-feedback" *ngIf="messageForm.touched && 
                messageForm.get('message')?.hasError('maxlength')">
                Message should not exceed 1000 characters.
            </span>
        </div>
        <div class="col-3">
            <div class="d-grid">
                <button class="btn btn-success btn-block" type="submit"  [disabled]="!messageForm.valid">Send</button>
            </div>
        </div>
    </div>
</form>