<!-- <h1>Hokm Game Guidelines</h1>

<p>Many tutorials on Hokm typically commence with an overview, elucidating the
    game's objective, the scoring system, the terminology, and more. While this
    method seems logical, it might not be as effective as guiding individuals
    step by step through an actual or virtual game, explaining the rules and
    terms as they encounter them. To facilitate this process, launch <a
        href="https://hokmshelem.com/">hokmshelem.com</a> and engage in a game with the
    computer while continuing to read. <i>[You need not worry if you are ejected
        from the game due to extended play. When playing with the computer, you
        have a minimum of 10 minutes to return to the same game and resume where
        you left off.]</i></p>

<p><strong>Note:</strong> <i>Text enclosed within square brackets and italicized
        pertains to hokmshelem.com</i></p>

<h2>Teams</h2>
<p>Teams consist of players seated opposite each other. Before commencing the
    game, you must select your teammate. The most common method for team
    selection is by drawing cards. <i>[In hokmshelem.com, teammates are determined
        by the order of arrival. In Friends mode, you can alter your seat by
        clicking on an available seat.]</i></p>

<h2>Determining the Ruler (Hakem)</h2>

<p>At the onset of each game, one player must be designated as the ruler. The
    ruler possesses the privilege of selecting the trump suit (hokm) and leading
    the initial round. To appoint the ruler, a player shuffles the deck
    (standard 52-card deck) and deals one card to each player in a
    counter-clockwise manner until an Ace is drawn. The recipient of the Ace
    assumes the role of the ruler. (An alternative method to determine teams is
    to continue dealing to the other players until the second Ace is drawn,
    designating the recipient as the ruler's partner. However, this feature is
    not yet available in the hokmshelem app.)</p>

<h2>Selecting the Trump Suit (Hokm)</h2>
<p>Following the designation of the ruler, the player positioned to the ruler's
    left becomes the dealer. The dealer reshuffles the cards and deals the first
    five cards to the ruler, awaiting the selection of the trump suit. If you
    are the ruler, a general guideline is to choose the suit with the highest
    quantity. It may become complex if you receive two cards of different suits
    each. In such instances, opt for the suit with the higher total rank. The
    ruler must declare the trump before dealing the remaining cards. <i>[In
        hokmshelem.com, tap on the desired suit displayed on the table and then
        press the start button at the bottom right corner of the table. The
        trump suit will be displayed at the top left corner of the table for the
        duration of the game.]</i></p>

<h2>Card Distribution</h2>
<p>The dealer proceeds to distribute the remaining cards. Initially, she deals
    five cards to each of the other players. Subsequently, she distributes two
    rounds of four cards to all players, following a counter-clockwise
    direction, beginning with the ruler and concluding with herself. Each player
    now holds 13 cards.</p>

<h2>Organizing the Cards</h2>
<p>Sorting your cards can facilitate gameplay; arrange cards of each suit
    together. <i>[In hokmshelem.com, you can manually sort or utilize the small
        button located at the top right corner of your card set at any point
        during the game.]</i></p>

<h2>Initiating the First Trick</h2>
<p>The ruler initiates the first play. Subsequent players, starting from the
    player to the ruler's right, must follow suit by playing a card of the same
    suit as the first card. If a player lacks cards of the leading suit, they
    may play any card. Upon completion of the round, the team possessing the
    highest-ranked card wins the trick, collecting the four cards and placing
    them face down in front of one of their players.</p>

<h2>Card Rankings</h2>
<p>Within each suit, cards are ranked from lowest to highest: 2 to 10, followed
    by Jack, Queen, King, and Ace. A card not matching the led suit or trump is
    deemed worthless, regardless of its rank. Even the lowest trump card
    outranks any non-trump card.</p>

<h2>Successive Tricks</h2>
<p>After each trick, the player who won the preceding trick leads the subsequent
    one. Again, players must follow suit unless they lack cards of the leading
    suit, in which case they may play any card. (A player who mistakenly plays a
    different suit while possessing a card of the leading suit is considered to
    be cheating and forfeits the entire hand, or in certain circles, the entire
    game, if caught!) <i>[hokmshelem.com restricts players from playing a different
        suit if they possess cards of the leading suit.]</i></p>

<h2>Hand Winner</h2>
<p>Each set of four cards collected by a team constitutes one trick. The team
    accumulating 7 tricks wins the hand. Given a total of 13 tricks to win, once
    a team secures 7 tricks, there is no need to continue playing the remaining
    cards. Various methods are employed to track the hands won by each team. If
    you happen to be consuming pistachios during play, their shells prove to be
    quite useful! <i>[In hokmshelem.com, a yellow, triangular petal is displayed in
        front of a player from the winning team.]</i></p>

<h2>Successive Hands</h2>
<p>Following each hand, if the ruler's team emerges victorious, the ruler
    remains unchanged. Conversely, if the opposing team wins the hand, the
    "government" changes hands, and the player to the right of the former ruler
    assumes the role of the new ruler. The subsequent hand proceeds similarly to
    the first, with the player seated to the left of the ruler shuffling the
    cards and dealing 5 cards to the ruler, awaiting the selection of the trump.
    Once again, upon securing 7 tricks, a team wins the hand.</p>

<h2>Double and Triple Points</h2>
<p>A team achieving the first 7 tricks earns two points instead of one. If the
    ruler's opposing team accomplishes this feat, they earn three points
    instead!</p>

<h2>Game Winner</h2>
<p>The objective of the game is to win 7 hands before the opposing team. <i>[In
        hokmshelem.com, the team completing a 7-petal flower is awarded a
        cup.]</i></p>

<h2>Enjoy Your Gameplay</h2>
<p>Once you've familiarized yourself with the game through computer play, you
    can transition to Public play or engage with your Friends. Hopefully, this
    guide will enable you to enjoy real games with your friends as well.</p>

<h2>A Concise Hokm Guide</h2>
<p>For a succinct and comprehensive guide to Hokm and various other card games,
    visit <a href="https://pagat.com">pagat.com</a>.</p>

<h2>Comments and Queries</h2>
<p>Please don't hesitate to reach out to me at <a
        href="mailto:hokmshelem.info@gmail.com">hokmshelem.info@gmail.com</a> if you
    have any comments, questions, or concerns.</p> -->