<footer class="border-top border-primary hs-margin-top">
    <div class="text-center">
        <h6>
            Copyright &copy; {{ currentYear
            }}<a class="text-warning" routerLink="/">&nbsp;HokmShelem.com</a>
        </h6>
        <a class="text-muted" routerLink="/policy">Policy | </a>
        <a class="text-muted" routerLink="/terms-of-service">Terms of Service | </a>
        <a class="text-muted" routerLink="/contact-us">Contact US | </a>
        <a class="text-muted" routerLink="/about-us">About US</a>
    </div>
</footer>