<ng-container *ngIf="players">
    <div *ngFor="let player of players">

        <button type="button" class="btn" [tooltip]="playerProfile" placement="right">
            <img style="width: 20px; height: 20px;" src="{{gameImageUrl}}badges/{{player.badge}}.png">
            <span class="fw-bold mx-2">{{player.playerName}}</span>
            <span *ngIf="lobbyService.connectedRoom?.hostName === player.playerName">
                <i class="bi bi-star-fill"></i>
            </span>
        </button>

        <ng-template #playerProfile>
            <p>
                <img style="width: 60px; height: 60px;" src="{{player.photoUrl}}" /><br><br>
                Rate: {{player.rate}}<br>
                Hokm score: {{player.hokmScore}}<br>
                Shelem score: {{player.shelemScore}}<br>
                Games won: {{player.gamesWon}}<br>
                Games lost: {{player.gamesLost}}<br>
                Games left: {{player.gamesLeft}}<br><br>
                <img class="country" src="{{gameImageUrl}}countries/{{player.country}}.jpg" />
            </p>

        </ng-template>
    </div>
</ng-container>