// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ClientApp-primary: mat.define-palette(mat.$indigo-palette);
$ClientApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ClientApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ClientApp-theme: mat.define-light-theme((color: (primary: $ClientApp-primary,
                accent: $ClientApp-accent,
                warn: $ClientApp-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ClientApp-theme);

/* You can add global styles to this file, and also import other style files */
html {
    margin: 0;
    padding: 0;
}

.hs-margin-top {
    margin-top: 2rem;
}

.table-wrapper {
    width: 100%;
    overflow: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.scroller {
    scrollbar-color: #EC9813 #102027;
    scrollbar-width: thin;
}

.hs-position-relative {
    position: relative;
}

.hs-xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

// game setting classes start
.hs-layout {
    margin: 10px 5px;
    display: grid;
    column-gap: 0.2em;
    position: relative;
}

.hs-layout-format {
    grid-template-columns: 2.5fr 1fr;
}

// .draggable {
//     cursor: move;
//     user-select: none;
// }

// .movable:not(.dragging) {
//     transition: transform 300ms ease-in-out;
// }

// .box {
//     background: #BADA55;
//     border: 1px solid black;
//     padding: 10px 20px;
//     display: inline-block;

//     &.dragging {
//         background: coral;
//     }
// }

// .area {
//     background: #C0FFEE;
//     padding: 40px;
// }


// game setting classes end



@media (max-width: 960px) {
    .hs-layout {
        display: flex;
        flex-direction: column-reverse;
    }

    .firstPart {
        flex: 1;
    }

    .secondPart {
        flex: 2;
        margin-bottom: 5px;
    }

    .hs-suit {
        width: 60%;
    }
}

@media (max-width: 720px) {
    .container-fluid {
        margin: 0;
        padding: 0;
    }
}

@media (max-height: 800px) {
    .hs-margin-top {
        margin-top: 0px;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}