<h2>HokmShelem - Terms of Service</h2>
<ol>
    <li>
        <strong>Temrs of Service:</strong>
        <ul>
            <li>User Registration and Account Creation</li>
            <li>User Conduct.</li>
            <li>Card Games and Interactions.</li>
            <li>Chat Features.</li>
            <li>Termination of Accounts</li>
            <li>Privacy and Data Handling</li>
            <li>Dispute Resolution</li>
        </ul>
    </li>
</ol>
<p>Remember that these are general guidelines, and you should consult with a
    legal professional to create a comprehensive terms of service tailored to
    your specific platform. If you’d like a template to get started, you can use
    a free Terms and Conditions Generator.</p>