<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="nav-brand" routerLink="/" style="text-decoration:none">
                <img src="./assets/images/site/logo.png" class="logo" alt="logo" routerLink="/">
                <img src="./assets/images/site/brandname.png" class="logo" alt="logo" routerLink="/">
            </a>
            <button class="navbar-toggler" type="button" (click)="toggleCollapsed()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngClass]="{'collapse': collapsed}">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Home</a>
                    </li>
                    <li class="nav-item" *ngIf="(accountService.applicationUser$ | async)">
                        <a class="nav-link" routerLink="/lobby" routerLinkActive="active">Lobby</a>
                    </li>
                    <ng-container *ngIf="accountService.applicationUser$ | async">
                        <li class="nav-item" *appUserHasRoles="'player,admin,moderator'">
                            <a class="nav-link" routerLink="/game/hokm" routerLinkActive="active">Hokm</a>
                        </li>
                        <li class="nav-item" *appUserHasRoles="'admin'">
                            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                        </li>
                    </ng-container>
                </ul>

                <div class="dropdown" dropdown *ngIf="(accountService.applicationUser$ | async) as user">
                    <a class="dropdown-toggle" style="text-decoration: none; cursor: pointer;" dropdownToggle>
                        <span class="welcome text-warning">{{user.playerName}}</span>
                        <img class="profilePic mx-1" src="{{user.photoUrl || './assets/images/site/avatar.png'}}">
                    </a>
                    <ng-container *ngIf="user.roles.length > 0">
                        <div class="dropdown-menu" *dropdownMenu>
                            <a class="dropdown-item" routerLink="/profile"
                                [ngClass]="darkMode ? 'text-white' : 'text-black'">
                                <i class="bi bi-person-circle me-2"></i> Edit
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a (click)="logout()" class="dropdown-item"
                                [ngClass]="darkMode ? 'text-white' : 'text-black'">
                                <i class="bi bi-door-closed-fill me-2"></i>
                                Logout
                            </a>
                        </div>
                    </ng-container>
                </div>

                <!-- <div class="me-1" *ngIf="!(accountService.applicationUser$ | async)">
                    <a class="btn btn-secondary me-2" routerLink="/account/register" routerLinkActive="active">
                        <i class="bi bi-person-plus-fill"></i>
                        Register</a>
                    <a class="btn btn-secondary" routerLink="/account/login" routerLinkActive="active">
                        <i class="bi bi-door-open-fill"></i>
                        Login
                    </a>
                </div>

                <ng-container *ngIf="(accountService.applicationUser$ | async) as user">
                    <div class="me-1" *ngIf="user.roles.length === 0">
                        <a class="btn btn-secondary me-2" routerLink="/account/register" routerLinkActive="active">
                            <i class="bi bi-person-plus-fill"></i>
                            Register</a>
                        <a class="btn btn-secondary" routerLink="/account/login" routerLinkActive="active">
                            <i class="bi bi-door-open-fill"></i>
                            Login
                        </a>
                    </div>
                </ng-container> -->


                <ul class="navbar-nav" dropdown>
                    <li class="nav-item dropdown" style="max-width: 40px;">
                        <a id="toggleThemebutton" dropdownToggle
                            class="nav-link dropdown-toggle d-flex align-items-center" aria-controls="toggleTheme">
                            <i class="bi" [ngClass]="darkMode ? 'bi-moon-fill' : 'bi-brightness-high-fill'"></i>
                        </a>
                        <ul id="toggleTheme" *dropdownMenu class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="toggleThemebutton">
                            <li role="menuitem">
                                <a class="dropdown-item cursor-pointer" (click)="toggleTheme()">
                                    <span class="dropdown-item" [ngClass]="darkMode ? 'text-white' : 'text-black'">
                                        {{darkMode ? 'Light' : 'Dark'}}
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>