<div class="container">
    <h1 class="text-center text-warning">
        You can play <strong>Hokm</strong> as Guest NOW
    </h1>
    <h4>
        <span class="text-danger">Note: </span>
        This website is still under development and not yet complete. Please feel free to report any bugs you may encounter.
    </h4>
    <div class="row mt-4">
        <div class="col-md-6">
            <p class="text-center" style="font-size: 1.5rem;">Play Persian Card Games for
                <span style="color:#cf3723">FREE</span>
            </p>
            <ng-container *ngIf="(homeService.homePageInfo$ | async) as homePageInfo">
                <div class="row mb-1">
                    <div class="col-7 offset-5">
                        <i class="bi bi-people-fill me-1"></i>
                        {{homePageInfo.playersCount}} Online Players
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-7 offset-5">
                        <i class="bi bi-suit-spade-fill me-1"></i>
                        {{homePageInfo.gamesCount}} Active Games
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="(accountService.applicationUser$ | async) === null">
                <button class="btn" (click)="registerAsGuest()" *appIsNonLoggedinUserOrGuestDirective>
                    Play as Guest
                </button>
            </ng-container>
        </div>
        <div class="col-md-6">
            <app-demo></app-demo>
        </div>
    </div>
    <div class="row mt-5 border-top mb-2">
        <div class="col">
            <app-visitor-message></app-visitor-message>
        </div>
    </div>
</div>