<div class="container">
    <div class="row home mt-4">
        <div class="text-center col-md-6">
            <p style="font-size: 1.5rem;">Play Persian Card Games for <span style="color:#cf3723">FREE</span></p>
            <p class="pt-2">
                <i class="bi bi-people-fill me-1"></i>0 Online users
            </p>
            <p>
                <i class="bi bi-suit-spade-fill me-1"></i>0 Games Today
            </p>

            <button class="btn">Play Online</button>
        </div>
        <div class="col-md-6">
            <app-demo></app-demo>
        </div>
    </div>
    <div class="row mt-5 border-top mb-2">
        <div class="col">
            <app-visitor-message></app-visitor-message>
        </div>
    </div>
</div>