<ngx-spinner type="line-scale-party">
    <h3 style="color: white;">Loading...</h3>
</ngx-spinner>
<app-navbar></app-navbar>

<main class="hs-margin-top">
    <router-outlet></router-outlet>
</main>

<!-- <div class="box" appMovable [appMovableReset]="true">
    My Box
</div>
<div class="box" appMovable>
    My Box
</div>

<div class="area" appMovableArea>
    <div class="box" appMovable *ngFor="let trapped of trappedBoxes">
        {{ trapped }}
    </div>
</div>
<button (click)="add()">Add</button><br>


<div style="overflow: hidden;">
    <div class="box" appMovable>
        Drag me
    </div>
</div>

<ng-template>
    <div class="box helper">
        Dragging...
    </div>
</ng-template> -->



<app-footer></app-footer>