<form [formGroup]="messageForm" (ngSubmit)="sendMessage()" autocomplete="off">
    <br />
    <div class="container border">
        <b>
            You can contact the admin of the site using the form below. Thank you!
        </b>
        <hr />
        <app-text-input-f2 [formControl]="$any(messageForm.controls['name'])" [label]="'Name'" [submitted]="submitted"
            [isRequired]="true"></app-text-input-f2>
        <app-text-input-f2 [formControl]="$any(messageForm.controls['email'])" [label]="'Email address'"
            [submitted]="submitted" [isRequired]="true"></app-text-input-f2>
        <app-text-input-f2 [formControl]="$any(messageForm.controls['message'])" [submitted]="submitted"
            [isRequired]="true" [type]="'text-area'" [label]="'Message'"></app-text-input-f2>
        <div class="form-floating" *ngIf="apiResponse">
            <app-validation-messages [apiResponse]="apiResponse"></app-validation-messages>
        </div>
        <div class="row my-2">
            <div class="col text-center">
                <button class="btn btn-success" type="submit" style="width:130px;">Submit</button>
            </div>
        </div>
    </div>
</form>